@media screen and (max-width: 1280px) {
    .responsive-margin {
        margin: 0 1rem;
    }
}

@media screen and (max-width: 768px) {
    nav {
        display: none;
    }

    #contact-us-btn {
        display: none;
    }

    #hamburger-btn {
        display: block;
    }

    .hero-section {
        flex-direction: column;
    }

    .companies .companies-headline {
        font-size: 1rem;
    }

    .companies .companies-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .features-cards {
        grid-template-columns: repeat(1, 1fr);
    }
}